/* DAY TWO: look up SVG graphic*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    background-color: #edf2f8;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}

/* testimonials */

.container {
    margin: 2em;
}

.testimonial {
    margin: 2em 1em;
    padding: 2.3em;
    border-radius: 10px;
    background-color: #fff;
    color: hsl(217, 19%, 35%);
}

.graduate-info {
    display: flex;
}

.graduate-img img {
    border-radius: 50%;
    width: 33px;
    margin-right: 1em;
}

span {
    opacity: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.testimonial h1 {
    font-size: 1.15rem;
    padding: 1em 0em;
    font-weight: 600;
}

.testimonial p {
    opacity: 70%;
}

/* individual reviews */

#purple {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.border-daniel {
    border: 2px solid hsl(263, 55%, 68%);
}

.testimonial.quote {
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

#light-gray {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}


#dark-blue {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.border-patrick {
    border: 2px solid hsl(263, 55%, 52%);
}

@media (min-width: 800px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding-block: 2rem;
        width: min(95%, 70rem);
        margin-inline: auto;
    }

    .testimonial {
        margin: 0;
    }

    .grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-span-two {
        grid-column: span 2;
    }

    .testimonial:last-child {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

}